@import 'about.css';
@import 'skills.css';
@import 'timeline.css';
@import 'projects.css';
@import 'contacts.css';
@import 'certificates.css';
@import 'recommendations.css';
@import 'responsive.css';

.section {
    margin-bottom: 6rem;
    opacity: 0;
    transform: translateY(30px);
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: linear-gradient(to right, #512bd4, #0b9a15);
    margin: 1rem auto;
}



@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes imageLoad {
    from {
        opacity: 0;
        transform: scale(1.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
